<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="hary.web.id" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<link rel="stylesheet" type="text/css" media="screen" href="//hary.web.id/style.css">
<title>{{ page.title }}</title>
</head>
<body>
<div id="header_wrap" class="outer">
<header class="inner">
<a href="/en" title="Home en">Home</a> | <a href="/id" title="Home id">id</a> | <a href="/ar" title="Home ar">ar</a> | <a href="/en/about.html" title="About">About</a> | <a href="/en/toc.html" title="Table of Contents">All Posts</a>
</header>
</div>
{{ content }}
<div id="footer_wrap" class="outer">
<footer class="inner">
<a href="#" title="Go to Top">Top</a> | <a href="//hary.web.id" title="hary.web.id" target="_blank">hary.web.id</a> | <a href="//haryfernando.com" title="haryfernando.com" target="_blank">haryfernando.com</a> 
</footer>
</div>
<script type="text/javascript"> 
var _gaq=[['_setAccount','UA-28188693-1'],['_trackPageview']]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
